@{
    ViewData["Title"] = "Home";
    var nomeUsuario = Context.Session.GetString("UsuarioNome");
}

<h1>Bem vindo à Colhetiva</h1>

@if (!string.IsNullOrEmpty(nomeUsuario))
{
    <p>Olá, @nomeUsuario!</p>
}
else
{
    <p>Usuário não autenticado.</p>
}